/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
body {
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  background-repeat:no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 20px;
}

h1 {
  display: block;
  text-align: center;
  font-size: 1.5em;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  margin: 30px;
  padding-top: 20px;
}

.which-message {
  font-size: 1.1em;
  text-align: center;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  margin:2px;
  padding-top: 40px;
}

.random-message {
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  margin: 19px 0;
}

section.message-type {
  background-color: #ffffff;
  border-radius: 6px;
  font-family: 'Quicksand', sans-serif;
  font-size: .85em;
  font-style: italic;
  margin: 10px auto 80px;
  padding-top: 10px;
  text-align: center;
  width: 500px;
}


section.message-button{
  text-align: center;
}

button.receive-message {
  margin: 20px 0 8px;
  border-style: none;
  font-family: 'Quicksand', sans-serif;
  padding: 4px 20px;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  background-color: #134d71;
}

.affirmation-label {
  margin-right: 120px;
}

img {
  width: 60px;
}

.meditation-image-box {
  background-color: #ffffff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
  width: 700px;
}

.hidden {
  display: none!important;
}
